@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model simhoppsystemet.Models.Competitor

@{
    ViewData["Title"] = "Competitior details";
}

<div>
    <h4>Competitor details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization)
        </dd>
    </dl>
</div>
<table class="table col-sm-4">
    <thead>
    <tr>
    <th>
        Competitions
    </th>
        <th>
            Date
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var std in ViewData["competitions"] as IList<Competition>)
            {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Competitions" asp-route-id="@std.Id">
                        @std.Name
                    </a>
                </td>
                <td>
                    @std.Date
                </td>
            </tr>

            }
    </tbody>
</table>

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <text>|</text>
    }
    <a asp-action="Index">To List of all divers</a>
</div>
