@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<simhoppsystemet.Models.Competitor>

@{
    ViewData["Title"] = "Competitiors";
}

<h1>Competitors</h1>
<p>Here's an list of all competitors. Just click on a competitors name to get to know the person more!</p>
<div class="col-md-13">
    <form asp-action="ShowSearchResults">
        <div class="col-md-3">
            Search for a competitor:
            <label for="SearchPhrase" class="control-label" style="float: left"></label>
            <input name="SearchPhrase" class="form-control" />
            <p></p>
            <input type="submit" value="Search" class="btn btn-primary" style="float: left" />
        </div>
        <div class="relative">
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-action="Create" class="btn btn-primary" style="float: right">Create a new competitior</a>
            }
        </div>
    </form>
    <br />
</div>
<p><br /></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
