@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model simhoppsystemet.Models.Competition

@{
    ViewData["Title"] = "Competition details";
}

<div>
    <h4>Competition - @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            Date: @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit competition details</a> <text>|</text>
        <a asp-action="AddCompetitors" asp-route-id="@Model.Id"> Add / Edit competitors</a> <text>|</text>
    }
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <h4>Competitors</h4>
    <table class="table">

        <tbody>

            @foreach (var std in ViewData["competitors"] as IList<Competitor>)
            {
                <tr>
                    <th>
                        <a asp-controller="Competitors" asp-action="Details" asp-route-id="@std.Id">
                            @Html.DisplayFor(modelItem => @std.Name)
                        </a>
                    </th>
                    <th>
                        Age:
                        @std.Age
                    </th>
                    <th>
                        Organization:
                        @std.Organization
                    </th>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <td>
                            <form asp-controller="Dives" asp-action="JudgeDives">
                                <input type="hidden" asp-for="@std.Id" name="CompetitorId" />
                                <input type="hidden" asp-for="Id" name="CompetitionId" />
                                <input type="submit" value="Judge" class="btn btn-danger" />
                            </form>
                        </td>
                    }
                </tr>

                <tr>
                    <td>
                        Dive
                    </td>
                    <td>
                        Difficulty
                    </td>
                    <td>
                        Judge A
                    </td>
                    <td>
                        Judge B
                    </td>
                    <td>
                        Judge C
                    </td>
                    <td>
                        Score
                    </td>
                </tr>

                @foreach (var dive in ViewData["dives"] as IList<Dive>)
                {
                    if (std.Id == dive.CompetitorId)
                    {

                        <tr>
                            <td>
                                <!--Mer tydligt att man behöver lägga till dive group-->
                                @if (SignInManager.IsSignedIn(User) && dive.DiveGroup == null)
                                {
                                    <a asp-controller="Dives" asp-action="Edit" asp-route-id="@dive.Id">Add dive group</a>
                                }

                                @dive.DiveGroup
                            </td>
                            <td>
                                @foreach (var diff in ViewData["divedifficulty"] as IList<DiveGroup>)
                                {
                                    if (dive.DiveGroup == diff.Dive)
                                    {
                                        @diff.Difficulty
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => dive.Judge2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => dive.Judge2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => dive.Judge3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => dive.Score)
                            </td>
                            <td>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a asp-controller="Dives" asp-action="Edit" asp-route-id="@dive.Id">Edit dive</a>
                                }
                            </td>

                        </tr>

                    }


                }

            }

        </tbody>
    </table>

</div>
