@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model simhoppsystemet.Models.Competition

@{
    ViewData["Title"] = "Competition details";
}

<div>
    <h4>Competition - @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            Date: @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit competition details</a> <text>|</text>
        <a asp-action="AddCompetitors" asp-route-id="@Model.Id"> Add / Edit competitors</a> <text>|</text>
    }
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <h4>Competitors</h4>
    <table class="table">

        <tbody>

            @foreach (var std in ViewData["competitors"] as IList<Competitor>)
            {
            <tr>
                <th>
                    Name:
                    @std.Name
                </th>
                <th>
                    Age:
                    @std.Age
                </th>
                <th>
                    Organization:
                    @std.Organization
                </th>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <form asp-controller="Dives" asp-action="JudgeDive">
                            <input type="hidden" asp-for="@std.Id" name="CompetitorId" />
                            <input type="hidden" asp-for="Id" name="CompetitionId" />
                            <input type="submit" value="Judge" class="btn btn-danger" />
                        </form>
                    </td>
                }
            </tr>

                <tr>
                    <td>
                        Dive
                    </td>
                    <td>
                        Judge A
                    </td>
                    <td>
                        Judge B
                    </td>
                    <td>
                        Judge C
                    </td>
                    <td>
                        Score
                    </td>
                </tr>

                @foreach (var dive in ViewData["dives"] as IList<Dive>)
                {
                    if (std.Id == dive.CompetitorId)
                    {

                        <tr>
                            <td>
                                @dive.DiveGroup
                            </td>
                            <td>
                                @dive.PointsA
                            </td>
                            <td>
                                @dive.PointsB
                            </td>
                            <td>
                                @dive.PointsC
                            </td>
                            <td>
                                @dive.Score
                            </td>
                        </tr>

                    }


                }

            }

        </tbody>
    </table>

</div>
