@model simhoppsystemet.Models.Competition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <h4>Divers</h4>
    <table class="table">
            <thead>
                <tr>
                    <th>Name
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Organization
                    </th>
                    <th>
                        Dives
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var std in ViewData["competitors"] as IList<Competitor>)
                {
                <tr>
                    <td>
                        @std.Name
                    </td>
                    <td>
                        @std.Age
                    </td>
                    <td>
                        @std.Organization
                    </td>

                    @foreach (var dive in ViewData["dives"] as IList<Dive>)         // DESIGN
                    {
                        if (std.Id == dive.CompetitorId)
                        {
                            <td>
                            @dive.DiveGroup
                             </td>
                        }


                    }

                    <td>
                        <a asp-action="EditDives" asp-route-id="@Model.Id">Edit Dives</a>
                    </td>
                </tr>
                    
}
            </tbody>
     </table>

</div>
<div>

    
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Details</a> |
    <a asp-action="AddCompetitors" asp-route-id="@Model.Id">Add Competitors</a> |
    <a asp-action="Index">Back to List</a>



</div>
