@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<simhoppsystemet.Models.Competition>

@{
    ViewData["Title"] = "Competitions";
}

<h1>
    Competitions
</h1>
<p>Here's an list of previous and upcoming competitions.</p>
<div class="col-md-13">
    <form asp-action="ShowSearchResults">
        <div class="col-md-3">
            Search for a competition:
            <label for="SearchPhrase" class="control-label" style="float: left"></label>
            <input name="SearchPhrase" class="form-control" />
            <p></p>
            <input type="submit" value="Search" class="btn btn-primary" style="float: left" />
        </div>
        <div class="relative">
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-action="Create" class="btn btn-primary" style="float: right">Create a new competition</a>
            }
        </div>
    </form>
    <br />
</div>
<p><br /></p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date) @if (item.Date != item.EndDate) {<text>- </text> @Html.DisplayFor(modelItem => item.EndDate)}
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            @if (SignInManager.IsSignedIn(User))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="AddCompetitors" asp-route-id="@item.Id">Edit Competitors</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
