@model IEnumerable<simhoppsystemet.Models.Competition>

@{
    ViewData["Title"] = "Competitions";
}

<h1>Competitions</h1>
<p>Here's an list of previous and upcoming competitions.</p>
<p>
    <a asp-action="Create">Create a new competition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="AddCompetitors" asp-route-id="@item.Id">Edit Competitors</a>
            </td>
        </tr>
}
    </tbody>
</table>
