@model simhoppsystemet.Models.Dive

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dive</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competitor.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competition.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiveGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiveGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judge1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judge1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judge2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judge2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Judge3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Judge3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
