@model IEnumerable<simhoppsystemet.Models.Dive>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiveGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointsC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competitor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competition.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiveGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
