@model IEnumerable<simhoppsystemet.Models.Dive>

<h3>Judge the dives</h3>
<p>Judge the dive. Each judge enter their score and afterwards the score of the specific dive will be calculated in the correct way.</p>
<h5>Judging dive for:</h5>

<p> Name: @ViewData["competitorName"] </p>

<p> Competition: @ViewData["competitionName"] </p>
<p>
    <a asp-controller="Competitions" asp-action="Details" asp-route-id="@ViewData["competitionId"]" class="btn btn-primary">Go Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiveGroup)
            </th>
            <th>
                Difficulty
            </th>
            <th>
                Judge A
            </th>
            <th>
                Judge B
            </th>
            <th>
                Judge C
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.CompetitorId == ViewBag.CompetitorId && item.CompetitionId == ViewBag.CompetitionId)
            {
        <tr>
            <td>
                @if (item.DiveGroup == null)
                {
                <h6>Need to add DiveGroup to be able to judge this dive</h6>
                }
                    @Html.DisplayFor(modelItem => item.DiveGroup)
                </td>
            <td>
                @if (item.DiveGroup == null)
                {
                    <h6>--</h6>
                }
                @foreach (var diff in ViewData["divedifficulty"] as IList<DiveGroup>)
                {
                    if (item.DiveGroup == diff.Dive)
                    {
                        @diff.Difficulty
                    }
                }
            </td>
            <td>
                @if (item.DiveGroup == null)
                {
                    <h6>--</h6>
                }
                @Html.DisplayFor(modelItem => item.Judge1)
            </td>
            <td>
                @if (item.DiveGroup == null)
                {
                    <h6>--</h6>
                }
                @Html.DisplayFor(modelItem => item.Judge2)
            </td>
            <td>
                @if (item.DiveGroup == null)
                {
                    <h6>--</h6>
                }
                @Html.DisplayFor(modelItem => item.Judge3)
            </td>
            <td>
                @if (item.DiveGroup == null)
                {
                    <h6>--</h6>
                }
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @if (item.DiveGroup != null)
                {
                    <a asp-action="JudgeView" asp-route-id="@item.Id" class="btn btn-primary">Judge dive</a>
                }
            </td>
        </tr>
            }
        }


    </tbody>
</table>

<!--Nuså, visas den sist!-->
<div class="align-items-end">
    Final Score: @ViewBag.FinalScore
</div>
