@model IEnumerable<simhoppsystemet.Models.Dive>

<h3>Judge the dives</h3>
<p>Judge the dive. Each judge enter their score and afterwards the score of the specific dive will be calculated in the correct way.</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiveGroup)
            </th>
            <th>
                Judge A
            </th>
            <th>
                Judge B
            </th>
            <th>
                Judge C
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    @if (item.CompetitorId == ViewBag.CompetitorId && item.CompetitionId == ViewBag.CompetitionId)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiveGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judge1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judge2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judge3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit dive</a> |
                <a asp-action="JudgeView" asp-route-id="@item.Id">Judge dives</a>
            </td>
        </tr>
    }
}
    <tr>
        Final Score: @ViewBag.FinalScore
    </tr>
</tbody>
</table>
